hr {
    margin: 0;
}
h1 {
    margin: 0px;
}
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 10px 30px;
    background-color: #196b69ff;
}
.logo {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-image: url('assets/icon.png');
    background-size: 50px;
}
nav > a {
    border: 1px solid #196b69ff;
    padding: 8px 20px 8px 20px;
    color: #d8f4f1ff;
    text-decoration: none;
    background-color: #11999eff;
}
nav > a:hover {
    background-color: #14b7bcff;
    scale: 105%;
    color: #132f2bff;
}
nav > a:active {
    background-color: #1f8c89ff;
    scale: 99%;
    color: #d8f4f1ff;
}
nav {
    display: flex;
    flex-direction: row;
}
.right-rounded {
    border-radius: 0 5px 5px 0;
}
.left-rounded {
    border-radius: 5px 0 0 5px;
}
.homepage {
    color: #f4e9b1ff;
}
.banner {
    height: 500px;
    width: 100%;
}
.helo {
    margin: -450px 50px 130px 50px;
}
.controlbanner {
    display: flex;
    justify-content: space-between;
}
.controlbanner > button {
    background: none;
    border: none;
}
.tombol {
    width: 30px;
}
.tombol:hover {
    scale: 115%;
}
.profilepage {
    margin-top: 200px;
    padding: 30px 50px 50px 50px;;
    background-color: #d8f4f1ff;
}
.profilepage > main {
    display: flex;
    margin-top: 25px;
    flex-direction: row;
}
.profilpic {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-image: url('assets/profilepic.png');
    background-size: 150px;
    display:flex;
    margin: 0 30px 20px 0;
}
.profilinfo1 {
    width: flex;
    flex: 3;
    align-content: center;
    text-align: left;
    color: #004940ff;
}
.profilinfo1 > h2,h3,h4 {
    margin: 0 0 5px 0;
}
.profilinfo1 > h4 > a {
    text-decoration: none;
    color: #004940ff;
}
.profilinfo1 > h4 > a:hover {
    color: #858585ff;
    font-size: 12.5pt;
}
.icon {
    width: 18px;
}
.profilinfo2 {
    display: flex;
    align-content: center;
    text-align: justify;
    color: #004940ff;
}
.profilinfo2 > p {
    padding: 0px;
    margin: 0px;
}
.portopage {
    background-color: #d8f4f1ff;
    padding: 30px 50px 50px 50px;
}
.portopage > main {
    display: flex;
    flex-direction: row;
}
.infoporto {
    flex: 3;
    align-content: center;
}
.info1 {
    text-align: justify;
}
.qr {
    text-align: center;
}
.imgporto {
    flex: 2;
}
.messagepage {
    padding: 30px 50px 30px 50px;
    background-color: #11999eff;
    color: #f4e9b1ff;
}
.messagepage > main {
    display: flex;
    text-align: left;
    flex-direction: row;
}
.formpesan {
    flex: 1;
    padding-right: 30px;
}
.in1 {
    border-radius: 4px;
    border: 0px;
    height: 30px;
    width: flex;
    flex: 1;
    padding: 0 5px 0 5px;
}
.in2 {
    border-radius: 4px;
    border: 0px;
    height: 80px;
    width: flex;
    flex: 1;
    padding: 5px;
}
.in3 {
    border-radius: 4px;
    border: 0px;
    height: 35px;
    width: flex;
    flex: 1;
    font-size: 11pt;
    font-family: 'Arial';
    color: black;
    background-color: #d8b500ff;
}
.in3:hover {
    background-color: darkslategray;
    color: #d8b500ff;
    scale: 103%;
}
.in3:active {
    background-color: #eddb81ff;
    color: black;
    scale: 100%;
}
.text1 {
    display: flex;
    flex: 1;
}
.pesantampil {
    height: flex;
    color: black;
    border: 3px dashed black;
    border-radius: 10px;
    flex: 1;
    margin-top: 20px;
    padding: 20px;
    text-align: left;
} 
footer {
    font-family: 'Courier New';
    color: #f4f4f4ff;
    align-content: center;
    padding-right: 20px;
    height: 35px;
    background-color: #3c3c3cff;
}
footer > p {
    margin: 0px;
    text-align: right;
    font-size: 8pt;
}
body {
    font-family: 'Calibri';
    font-size: 12pt;
}
@media only screen and (max-width: 600px) {
    .main-header {
        display: flex;
        flex-direction: column;
    }
    .logo {
        margin-bottom: 10px;
    }
    nav {
        flex-direction: column;
        text-align: center;
        width: -webkit-fill-available;
    }
    nav > a {
        border-radius: 5px;
    }
    .right-rounded {
        border-radius: 5px;
    }
    .left-rounded {
        border-radius: 5px;
    }
    .profilepage > main {
        flex-direction: column;
        margin-bottom: 20px;
        align-items: center;
    }
    .portopage > main {
        flex-direction: column;
    }
    .imgporto {
        text-align: center;
    }
    .messagepage > main {
        flex-direction: column;
    }
    .formpesan {
        padding-right: 0px;
    }
}
@media only screen and (max-width: 790px) {
    .messagepage > main {
        flex-direction: column;
    }
    .formpesan {
        padding-right: 0px;
    }
}
@media only screen and (min-width: 1000px) {
    .banner {
        height: auto;
        width: 100%;
    }
}